body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Times New Roman, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  background-color: #8ed3db;
  color: white;
  padding: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 0 20px 20px;
  font-style: italic;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 10px;
  text-align: left;
}

th {
  background-color: #8ed3db;
  color: white;
}

th {
  background-clip: padding-box;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
}
