body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Times New Roman, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  background-color: #329aa3;
  color: white;
  padding: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 0 20px 20px;
  font-style: italic;
}

table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 10px;
  text-align: left;
}

th {
  background-color: #329aa3;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button .accept {
  background-color: rgb(28, 184, 28);
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
}
.btn-accept {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  font-weight: bold;
  background: rgb(28, 184, 28);
  width: 60px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn-reject {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  font-weight: bold;
  background: rgb(189, 16, 16);
  width: 60px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn-accept:hover,
.btn-accept:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btn-reject:hover,
.btn-reject:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
